@font-face {
    font-family: Bogart;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(../fonts/bogart.ttf);
}

body, html {
    font-family:'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fefaf6;
}

h1,h2,h3,h4,h5 {
    font-family: Bogart, 'Times New Roman', serif;
    font-weight: 500;
}

a, button, h6, input, li, p {
    font-family:'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.s-nav {
    position: fixed;
    width: 100%;
    z-index: 1040;
    background: #fefaf6;
}

.c-nav {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.c-nav-list {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    max-width: 90%;
}

.c-nav-list__link {
    padding: .5em 1.5em;
    display: block;
    color: #1f1f1a;
    font-size: .9em;
    transition: color .2s linear;
    position: relative;
}

.c-hero {
    overflow: hidden;
    position: relative;
    z-index: 1000;
    padding-top: 95px;
}

.c-hero__header {
    text-align: center;
    overflow: hidden;
    padding: 8em 0 4em;
    position: relative;
    opacity: 0;
}

.c-hero__box {
    max-width: 90%;
    margin: 0 auto;
}

.c-hero__box-col {
    width: 100%;
    position: relative;
    z-index: 100;
    backface-visibility: hidden;
}

.c-hero__box-box {
    max-width: 100%;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 50px 61px #1f1f1f61;
    max-width: 500px;
    margin: 0 auto 4em;
}

.c-hero__title {
    color: #1f1f1a;
    font-family: Bogart, 'Times New Roman', serif;
    font-size: 3.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin: 0;
    transition: all .2s ease-in-out;
    text-align: left;
}

.c-hero__sub {
    font-family: 'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1f1f1a;
    font-size: 1em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
    text-align: left;
}

.c-tiles  {
    position: relative;
    z-index: 1000;
    margin: 4em auto 0;
    max-width: 90%;
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(1,1fr);
}

.c-tile {
    width: 100%;
    border-radius: 15px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    padding: 6em 3em 6em;
}

.c-tile__category {
    position: absolute;
    right: 50px;
    top: 50px;
}

.c-tile__title {
    position: absolute;
    right: 50px;
    top: 100px;

}

.c-tile__holder {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.c-tile--s1 {
    background: linear-gradient(338.83deg, #edbaf4 -3.41%, #f8bef800 52.31%), #feeec3
}

.c-tile--s2 {
    background:linear-gradient(6.03deg, #d0c2f7 .5%, #d0c2f600 46.89%), #f8e3e7
}

.c-tile--s3 {
    background:linear-gradient(39.4deg, #b19de0 -2.55%, #b6a0ea00 45.21%), #ebe5fa
}

.c-tile--s4 {
    background:linear-gradient(314.25deg, #0dcca6b3 1.09%, #09b39100 43.26%), #dccfff
}

.c-wip__header, .c-post__header {
    text-align: center;
    overflow: hidden;
    padding: 8em 0 4em;
    background: linear-gradient(1deg,#ffeec4 -45%,#fefaf6 60%);
    position: relative;
    opacity: 0;
}

.c-wip__header-text, .c-post__header-text {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.c-wip__title, .c-post__title {
    color: #1f1f1a;
    font-family: Bogart, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin: 0;
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 100;
}

.c-wip__sub, .c-post__sub {
    font-family:'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1f1f1a;
    font-size: 1em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 100;
}

.c-wip__blob {
    z-index: 1;
    position: absolute;
    width: 540px;
    height: 330px;
    border-radius: 10000px;
    filter: blur(125px);
    transition: all .2s ease-in-out
}

.c-wip__blob--1 {
    left: -300px;
    bottom: -180px;
    background:linear-gradient(6deg, #32F0C4 -30%, #e4c2f7 75%)
}

.c-wip__blob--2 {
    left: -350px;
    top: -450px;
    background:linear-gradient(6deg, #E37552 25%, #e4c2f7 70%)
}

.c-wip__blob--3 {
    right: -360px;
    bottom: 0;
    background:linear-gradient(6deg, #c7b5f9 -40%, #af92e1 50%)
}

.c-wip__blob--4 {
    left: 100px;
    bottom: -90px;
    background:linear-gradient(330deg, #966be1 -50%, #f7bff7 45%)
}

.c-info__hero {
    padding: 8em 0 3em;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.c-info__hero-col {
    width: 100%;
    position: relative;
    z-index: 100;
    backface-visibility: hidden;
}

.c-info h1, h2 {
    font-size: 35px;
    color: #1f1f1a;
}

.c-info__avatar {
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 50px 61px #1f1f1f61;
    max-width: 500px;
    margin: 0 auto 4em;
}

.c-playground {
    padding: 8em 0 3em;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.c-playground-col {
    max-width: 600px;
    font-weight: 50;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    /* height: 100vh; */
    box-sizing: border-box;
    letter-spacing: 10px;
    margin: auto;
    line-height: .65;
  }
  span {
    display: inline-block;
  }

@media (min-width: 1600px) {
    .c-hero__title {
        font-size: 5em;
        letter-spacing: -3px;
    }

    .c-hero__sub {
    font-size: 1.25em;
    max-width: 580px;
    padding: 0;
    }
}

@media (min-width: 992px) {
    .c-hero__box {
        padding: 0 0 7em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-info__hero {
        padding: 14em 0 5em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-wip__header, .c-post__header{
        padding: 14em 0 10em;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 544px) {

}