@font-face {
    font-family: Bogart;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(../fonts/bogart.ttf);
}

body, html {
    font-family:'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fefaf6;
}

h1,h2,h3,h4,h5 {
    font-family: Bogart, 'Times New Roman', serif;
    font-weight: 500;
}

a, button, h6, input, li, p {
    font-family:'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    transition:none;
    transition: all .2s ease-in-out; 
}

a:active, a:hover {
    outline-width:0
}

a:hover {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}

i {
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    transition:none;
    transition: all .2s ease-in-out;  
}

.c-expand:hover {
    transform: scale(1.01);
    box-shadow: 0 40px 40px #1f1f1f61;
    transform: translateY(-10px);
}

.c-expand-img:hover {
    /* transform: scale(1.03); */
    filter: drop-shadow(0px 40px 25px #1f1f1f61);
    transform: translateY(-20px);
}

.s-nav {
    position: fixed;
    width: 100%;
    z-index: 1040;
    background: #fefaf6;
}

.c-nav {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.c-nav-list {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    max-width: 90%;
}

.c-nav-list__link {
    padding: .5em 1.5em;
    display: block;
    color: #1f1f1a;
    font-size: .9em;
    transition: color .2s linear;
    position: relative;
}

.c-nav-list__link--info span::before, .c-nav-list__link--work span::before, .c-nav-list__link--login {
    z-index: 5;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 3px;
    left: 0;
    display: block;
    background: #0ad6c5;
    transform: translate3d(0, 10px, 0);
    transition: all .2s cubic-bezier(.18,.9,.32,1.27);
    opacity: 0;
    
}

.c-nav-list__link--info:hover span::before {
    opacity: 1;
    transform:translateZ(0) scale3d(1.1, 1.1, 1.1) rotate(2deg);
}

.c-nav-list__link--work:hover span::before {
    opacity: 1;
    transform:translateZ(0) scale3d(1.1, 1.1, 1.1) rotate(-1deg);
}

.c-nav-list__link--login:hover span::before {
    
    opacity: 1;
    transform:translateZ(0) scale3d(1.1, 1.1, 1.1) rotate(-.5deg);
}

.c-hero {
    overflow: hidden;
    position: relative;
    z-index: 1000;
    padding-top: 95px;
}

.c-hero__header {
    text-align: center;
    overflow: hidden;
    padding: 8em 0 4em;
    position: relative;
    opacity: 0;
}

.c-hero__box {
    max-width: 90%;
    margin: 0 auto;
}

.c-hero__box-col {
    width: 100%;
    position: relative;
    z-index: 100;
    backface-visibility: hidden;
}

.c-hero__box-box {
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 50px 61px #1f1f1f61;
    margin: 0 auto 4em;
    object-fit: cover;
}

.c-hero__title {
    color: #1f1f1a;
    font-family: Bogart, 'Times New Roman', serif;
    font-size: 3.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin: 0;
    transition: all .2s ease-in-out;
    text-align: left;
}

.c-hero__sub {
    font-family: 'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1f1f1a;
    font-size: 1em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
    text-align: left;
}

.c-tiles  {
    position: relative;
    z-index: 1000;
    margin: 4em auto 4em;
    max-width: 90%;
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(1,1fr);
}

.c-tile {
    width: 100%;
    border-radius: 15px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    padding: 0;
}

.c-tile:active, .c-tile:focus {
    text-decoration:none
}

.c-tile:active {
    transition: all .3s ease-out;
    transform: scale3d(.99, .99, .99) translateZ(0);
    box-shadow:0 0 0 transparent
}

.c-tile:hover {
    text-decoration:none
}

.c-tile__category {
    position: absolute;
    right: 50px;
    top: 50px;
}

.c-tile__title {
    font-family: Bogart, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-align: left;
    display: block;
    margin-bottom: 1em;
    letter-spacing: -1px;
}

.c-tile__holder {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.c-tile--s1 {
    background: linear-gradient(338.83deg, #edbaf4 -3.41%, #f8bef800 52.31%), #feeec3
}

.c-tile--s2 {
    background:linear-gradient(6.03deg, #d0c2f7 .5%, #d0c2f600 46.89%), #f8e3e7
}

.c-tile--s3 {
    background:linear-gradient(39.4deg, #b19de0 -2.55%, #b6a0ea00 45.21%), #ebe5fa
}

.c-tile--s4 {
    background:linear-gradient(314.25deg, #0dcca6b3 1.09%, #09b39100 43.26%), #dccfff
}

.c-tile--s1:hover, .c-tile--s2:hover, .c-tile--s3:hover, .c-tile--s4:hover {
    transform: scale(1.01);
    box-shadow: 0 40px 40px #1f1f1f61;
    transform: translateY(-10px);
}

.c-tile__img--s1:hover, .c-tile__img--s2:hover, .c-tile__img--s3:hover, .c-tile__img--s4:hover {
    filter: drop-shadow(0px 40px 25px #1f1f1f61);
    transform: translateY(-20px);
}

.c-tile__img {
    position: relative;
    transition: all .4s ease-in-out;
    max-width: 100%;
    display: inline-block;
    transform: scale(1.02);
}

.c-tile__img--s1, .c-tile__img--s2, .c-tile__img--s3, .c-tile__img--s4 {
    max-width: 80%;
}

.c-lang {
    margin: 12em auto 3em;
    position: relative;
    z-index: 1000;
}

.c-lang__content {
    position: relative;
    max-width: 90%;
    margin: 0 auto;

}

.c-post__content, .c-register__content {
    padding: 4em 0 4em;
    max-width: 790px;
    margin: 0 auto;
}

.c-footer, .c-footer__content {
    position: relative;
    z-index: 1000;
}

.c-footer__content {
    padding: 14em 0;
    max-width: 790px;
    margin: 0 auto;
}

.c-footer__title {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1.5px;
    color: #232320;
    position: relative;
    z-index: 100;
    text-align: center;
}

.c-footer__text {
    color: #6b6971;
    font-size: 20px;
    line-height: 160%;
    margin-top: 2em;
    position: relative;
    z-index: 100;
    text-align: center;
}

.c-wip__header {
    text-align: center;
    overflow: hidden;
    padding: 8em 0 4em;
    background: linear-gradient(1deg,#ffeec4 -45%,#fefaf6 60%);
    position: relative;
    opacity: 0;
}

.c-contact__header {
    background: linear-gradient(55deg,#c4dfff -45%,#ffe7f8 60%);
}

.c-post__header {
    background: linear-gradient(61deg,#ffeec4 -45%,#fefaf6 60%);
}

.c-register__header {
    background: linear-gradient(72deg,#e2c4ff -45%,#f6f7fe 60%);
}

.c-wip__header-text, .c-contact__header-text, .c-post__header-text, .c-register__header-text {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.c-wip__title, .c-contact__title, .c-post__title, .c-register__title {
    color: #1f1f1a;
    font-family: Bogart, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin: 0;
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 100;
}

.c-wip__sub, .c-contact__sub, .c-post__sub, .c-register__sub {
    font-family:'Varela Round','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1f1f1a;
    font-size: 1em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 100;
}

.c-wip__blob {
    z-index: 1;
    position: absolute;
    width: 540px;
    height: 330px;
    border-radius: 10000px;
    filter: blur(125px);
    transition: all .2s ease-in-out
}

.c-wip__blob--1 {
    left: -300px;
    bottom: -180px;
    background:linear-gradient(6deg, #32F0C4 -30%, #e4c2f7 75%)
}

.c-wip__blob--2 {
    left: -350px;
    top: -450px;
    background:linear-gradient(6deg, #E37552 25%, #e4c2f7 70%)
}

.c-wip__blob--3 {
    right: -360px;
    bottom: 0;
    background:linear-gradient(6deg, #c7b5f9 -40%, #af92e1 50%)
}

.c-wip__blob--4 {
    left: 100px;
    bottom: -90px;
    background:linear-gradient(330deg, #966be1 -50%, #f7bff7 45%)
}

.c-info__hero {
    padding: 8em 0 3em;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.c-info__hero-col {
    width: 100%;
    position: relative;
    z-index: 100;
    backface-visibility: hidden;
}

.c-info h1, h2 {
    font-size: 35px;
    color: #1f1f1a;
}

.c-info__avatar {
    max-width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 50px 61px #1f1f1f61;
    max-width: 500px;
    margin: 0 auto 4em;
}

.c-history {
    width: 90%;
    max-width: 1600px;
    margin: 2em auto 0;
}

.c-gant {
    width: 100%;
    padding: 0 1em;
    max-width: 1600px;
    margin: 0 auto 4em;
    border-radius: 15px;
    background: linear-gradient(180deg,#fefaf6 2.42%,#fdf5ee);
}

.c-gant-box {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.c-gant-box__block {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    flex: 1;
    flex-basis: auto;
}

.c-gant-box__item {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

.c-gant__company {
    font-size: 18px;
    display: block;
}

.c-gant__role {
    display: block;
    margin-top: .3em;
    font-size: 14px;
}

.c-gant__tenure {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}

.c-gant__chart {
    width: 100%;
    max-width: 100%;
    display: grid;
    padding: 4em 0;
    row-gap: 1em;
    grid-template-columns: repeat(1,1fr);
}

.c-gant__entry {
    position: relative;
    border-radius: 20px;
    padding: 1.2em;
}

.c-gant__entry--lc {
    background: #aadcda;
    color: #090f0f;
}

.c-gant__entry--rma {
    background: #d4dbf9;
    color: #2a335a;
}

.c-gant__entry--sk {
    background: #ffeec4;
    color: #5a4610;
}

.c-gant__entry--std {
    background: #dacdff;
    color: #2c1867;
}

.c-playground {
    padding: 8em 0 3em;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.c-playground-col {
    max-width: 600px;
    font-weight: 50;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    /* height: 100vh; */
    box-sizing: border-box;
    letter-spacing: 10px;
    margin: auto;
    line-height: .65;
  }
  span {
    display: inline-block;
  }

.elastic-in {
    opacity: 0;
}

.c-loader {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
    opacity: 1;
    animation: a 1s infinite;
    pointer-events: none;
}

@media (min-width: 1600px) {
    .c-hero__title {
        font-size: 5em;
        letter-spacing: -3px;
    }

    .c-hero__sub {
    font-size: 1.25em;
    max-width: 580px;
    padding: 0;
    }

    .c-gant {
        width: 100%;
        padding: 0 3em;
        width: 90%;
        border-radius: 15px;
        margin: 0 auto 8em;
    }
}

@media (min-width: 992px) {
    .c-hero__box {
        padding: 0 0 7em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-info__hero {
        padding: 14em 0 5em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-wip__header, .c-contact__header, .c-post__header, .c-register__header {
        padding: 14em 0 10em;
    }

    .c-gant__chart {
        grid-template-columns:repeat(12, 1fr);
    }

    .c-gant__entry--lc {
        grid-column: 1/span 4;
        grid-row:4/4
    }

    .c-gant__entry--rma {
        grid-column: 5/span 4;
        grid-row:3/3
    }

    .c-gant__entry--sk {
        grid-column: 9/span 5;
        grid-row:2/2
    }

    .c-gant__entry--std {
        grid-column: 10/span 15;
        grid-row:1/1
    }

    .c-tile__title {
        position: absolute;
        right: 50px;
        top: 100px;
    }

    .c-footer__title {
        font-size: 64px;
        letter-spacing: -2px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 544px) {

}

@media screen and (prefers-reduced-motion: reduce) {
    .elastic-in {
        opacity: 1 !important;
        transform:translateZ(0) !important
    }

    .c-loader {
        display:none !important
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.u-mrg-l-auto {
    margin-left:auto !important
}