{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">I'm Jason, an engineer in Santa Monica, California.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I've spent 12+ years in the construction industry, think big structural projects, working in quality control, but I've always tinkered with code in my spare time. </p>
        <p>These days my time is spent researching, learning, and coding.</p>
        <p>Out of the office you’ll find me building freestyle drones and mechanical keyboards, drinking coffee, and petting all the good dogs.</p>
      </div>
    </div>
  </div>

<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
              <h2 class="mt-0">I take on freelance opportunities.</h2>
              <p class="text-muted mb-5">Have a project where you need some help? Send me a message and let's chat.</p>
          </div>
      </div>

  </div>
</section>

{% include "footer.html" %}