{% include "header.html" %}
<!-- Page Header -->
<section>
  <header>
    <div class="c-info__hero">
      <div class="c-info__hero-col" style="opacity: 1; transform: translateY(0px);">
        <div class="c-info__avatar">
          <picture>
            <source type="image/png" role="presentation" srcset="static/img/naut_1x.png 1x, static/img/naut_2x.png 2x">
            <img class="" alt="Photo of naut" data-ll-status="loaded" src="static/img/naut_2x.png">
          </picture>
        </div>
      </div>
      <div class="c-info__hero-col" style="opacity: 1; transform: translateY(0px);">
        <h1>I'm Jason, an Engineer in beautiful Santa Monica, California.</h1>
        <p>I've previously spent the passed 12+ years in the construction industry, working on big structural projects as a quality engineer, but I've always innately tinkered with code every chance available.</p>
        <p>These days my time is spent researching, learning, and coding.</p>
        <p>Out of the office you’ll find me building freestyle drones and mechanical keyboards, drinking coffee, and petting all the good dogs.</p>
      </div>
    </div>
  </header>
</section>

<!-- Main Content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
      </div>
    </div>
  </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
              <h2 class="mt-0">I am open for freelance opportunities.</h2>
              <p class="text-muted mb-5">Have a project where you need some help? Send me a message and let's chat.</p>
          </div>
      </div>
  </div>
</section>
{% include "footer.html" %}