{% include "header.html" %}

<!-- Page Header -->
<section>
  <header>
    <div class="c-info">
    <div class="c-info__hero">
      <div class="c-info__hero-col elastic-in" style="opacity: 1; transform: translateY(0px);">
        <div class="c-info__avatar">
          <picture>
            <source type="image/png" role="presentation" srcset="static/img/naut_1x.png 1x, static/img/naut_2x.png 2x">
            <img class="" alt="Photo of naut" data-ll-status="loaded" src="static/img/naut_2x.png">
          </picture>
        </div>
      </div>
      <div class="c-info__hero-col elastic-in" style="opacity: 1; transform: translateY(0px);">
        <h1>I'm Jason, an Engineer in beautiful Santa Monica, California.</h1>
        <p>I've spent the past 12+ years in the construction industry, working on big structural projects as a quality engineer and project manager, tinkering with code every chance available.</p>
        <p>These days my time is spent researching, learning, and coding.</p>
        <p>Out of the office you’ll find me building freestyle drones and mechanical keyboards, drinking coffee, watching Formula1, and petting all the good dogs.</p>
      </div>
    </div>
    </div>
  </header>
</section>

<!-- Main Content -->
<div class="c-history">

  <h2>
    A brief history
  </h2>

  <div class="c-gant">
    <div class="c-gant__chart">
      
      <div class="c-gant__entry c-gant__entry--lc elastic-in" style="opacity: 1; transform: translateY(0px);">
        <div class="c-gant-box">
          <div class="c-gant-box__block">
            <span class="c-gant__company">Leighton Consulting</span>
            <span class="c-gant__role">Engineer</span>
          </div>
          <div class="c-gant-box__item">
            <div class="c-gant__tenure">07-13</div>
          </div>
        </div>
      </div>
      
      <div class="c-gant__entry c-gant__entry--rma elastic-in" style="opacity: 1; transform: translateY(5px);">
        <div class="c-gant-box">
          <div class="c-gant-box__block">
            <span class="c-gant__company">RMA Group</span>
            <span class="c-gant__role">Project Manager / Project Engineer</span>
          </div>
          <div class="c-gant-box__item">
            <div class="c-gant__tenure">13-19</div>
          </div>
        </div>
      </div>
      
      <div class="c-gant__entry c-gant__entry--sk elastic-in" style="opacity: 1; transform: translateY(3px);">
        <div class="c-gant-box">
          <div class="c-gant-box__block">
            <span class="c-gant__company">Skanska</span>
            <span class="c-gant__role">Quality Engineer</span>
          </div>
          <div class="c-gant-box__item">
            <div class="c-gant__tenure">19-22</div>
          </div>
        </div>
      </div>
      
      <div class="c-gant__entry c-gant__entry--std elastic-in" style="opacity: 1; transform: translateY(10px);">
        <div class="c-gant-box">
          <div class="c-gant-box__block">
            <span class="c-gant__company">The Quality Firm</span>
            <span class="c-gant__role">Software Engineer</span>
          </div>
          <div class="c-gant-box__item">
            <div class="c-gant__tenure">22~</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% include "footer.html" %}