{% include "header.html" %}
<!-- TLDR -->
<section class="">
  <header class="c-hero__header">
    <div class="c-hero">
        <div class="c-hero__box">
            <div class="c-hero__box-col elastic-in" style="opacity: 1; transform: translateY(0px);">
                <h1 class="c-hero__title">Hi. I'm Jason.<br>
                    <span>A Software Engineer.</span>
                </h1>
                <p class="c-hero__sub">I'm also a builder and creator of things with a keen eye on quality and aesthetics with a particular sense for sound and feel.</p>
            </div>
            <div class="c-hero__box-col elastic-in" style="opacity: 1; transform: translateY(0px);">
                <div class="c-hero__box-box">
                    <picture
                        <source type="image/png" role="presentation" srcset="static/img/naut_1x.png 1x, static/img/naut_2x.png 2x">
                        <img class="" alt="Photo of naut" data-ll-status="loaded" src="static/img/naut_2x.png">
                    </picture>
                </div>
            </div>
        </div>
      </div>
  </header>
</section>

<!-- Projects -->
<div class="c-tiles">
    <a href="#" class="c-tile c-tile--s1" aria-label="S1 Case Study">
        <span class="c-tile__category">Keyboard</span>
        <h2 class="c-tile__title">U80-A Build</h2>
        <div class="c-tile__holder">
            <img class="c-tile__img c-tile__img--s1 lazy" data-src="static/img/rw-u80.png" alt="U80-A" aria-label="U80-A image">
        </div>
    </a>
    <a href="#" class="c-tile c-tile--s2" aria-label="S2 Case Study">
        <span class="c-tile__category">Terminal App</span>
        <h2 class="c-tile__title">Crypto Ticker</h2>
        <div class="c-tile__holder c-tile__holder--shape">
            <img class="c-tile__img c-tile__img--s2 lazy" data-src="static/img/rw-m60.png" alt="M60-A" aria-label="M60-A image">
        </div>
    </a>
    <a href="#" class="c-tile c-tile--s3" aria-label="S3 Case Study">
        <span class="c-tile__category">Blog</span>
        <h2 class="c-tile__title">This one</h2>
        <div class="c-tile__holder">
            <img class="c-tile__img c-tile__img--s3 lazy" data-src="static/img/rw-m65.png" alt="M65-A" aria-label="M65-A image">
        </div>
    </a>
    <a href="#" class="c-tile c-tile--s4" aria-label="S4 Case Study">
        <span class="c-tile__category">Web App</span>
        <h2 class="c-tile__title">Coffee and Wifi</h2>
        <div class="c-tile__holder">
            <img class="c-tile__img c-tile__img--s4 lazy" data-src="static/img/rw-nemo.png" alt="Nemo" aria-label="Nemo image">
        </div>
    </a>
</div>

<!-- Coding Languages -->
<div class="c-lang">
    <div class="c-lang__content">
        <h2 class="text-center mt-0">Languages</h2>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Python</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Javascript</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">C++</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Made with Love</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
