{% include "header.html" %}
<!-- TLDR -->
<section class="">
  <header class="c-hero__header">
    <div class="c-hero">
        <div class="c-hero__box">
            <div class="c-hero__box-col" style="opacity: 1; transform: translateY(0px);">
                <h1 class="c-hero__title">Hi. I'm Jason.<br>
                    <span>An Engineer.</span>
                </h1>
                <p class="c-hero__sub">I'm also a builder and creator of things with a keen eye on quality and aesthetics.</p>
            </div>
            <div class="c-hero__box-col" style="opacity: 1; transform: translateY(0px);">
                <div class="c-hero__box-box">
                    <picture>
                        <source type="image/png" role="presentation" srcset="static/img/naut_1x.png 1x, static/img/naut_2x.png 2x">
                        <img class="" alt="Photo of naut" data-ll-status="loaded" src="static/img/naut_2x.png">
                    </picture>
                </div>
            </div>
        </div>
      </div>
  </header>
</section>

<!-- Projects -->
<section>
    <div class="c-tiles">
        <a href="" class="c-tile c-tile--s1" aria-label="S1 Case Study">
            <span class="c-tile__category">Build</span>
            <h2 class="c-tile__title">Mechanical Keyboard</h2>
            <div class="c-tile__holder"></div>
        </a>
        <a href="" class="c-tile c-tile--s2" aria-label="S2 Case Study">
            <span class="c-tile__category">Terminal App</span>
            <h2 class="c-tile__title">Crypto Ticker</h2>
            <div class="c-tile__holder c-tile__holder--shape"></div>
        </a>
        <a href="" class="c-tile c-tile--s4" aria-label="S4 Case Study">
            <span class="c-tile__category">Web App</span>
            <h2 class="c-tile__title">This Blog</h2>
            <div class="c-tile__holder"></div>
        </a>
        <a href="" class="c-tile c-tile--s3" aria-label="S3 Case Study">
            <span class="c-tile__category">Web App</span>
            <h2 class="c-tile__title">Coffee and Wifi</h2>
            <div class="c-tile__holder"></div>
        </a>
  </div>
</section>

<!-- Coding Languages -->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Languages</h2>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Python</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Javascript</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">C++</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Made with Love</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section>
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</section>

<!-- Contact -->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">I am open for freelance opportunities.</h2>
                <p class="text-muted mb-5">Have a project where you need some help? Send me a message and let's chat.</p>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}
