{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <section>
    <header class="c-wip__header c-register__header">
      <div class="c-register__header-text elastic-in" style="opacity: 1; transform: translateY(0px);">
        <h1 class="c-register__title">Log In</h1>
        <p class="c-register__sub">Welcome Back!</p>
      </div>
    </header>
  </section>

  <!-- Content -->
  <section>
    <div class="c-post__content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
  </section>
  {% include "footer.html" %}
{% endblock %}
