{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <section>
    <header class="c-wip__header" style="background-image: url('https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
      <h1 class="c-wip__title">Log In</h1>
      <p class="c-wip__sub">Welcome Back!</p>
    </header>
  </section>

  <!-- Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
      </div>
    </div>
  </section>
  {% include "footer.html" %}
{% endblock %}
