{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <header class="c-wip__header c-post__header">
        <div class="c-post__header-text elastic-in" style="opacity: 1; transform: translateY(0px);">
        {% if is_edit: %}
            <h1 class="c-post__title">Edit Post</h1>
        {% else: %}
            <h1 class="c-post__title">New Post</h1>
        {% endif %}
            <p class="c-post__sub">You're going to make a great blog post!</p>
        </div>
    </header>

    <!-- Post Contents -->
    <div class="c-post__content">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>

    {% include "footer.html" %}
{% endblock %}