{% include "header.html" %}

<!-- Plaaaaaaaytime -->
<section>
    <header>
        <div class="c-playground">
            <div class="c-playground-col">
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxoxox</div>
            </div>
        </div>
    </header>
</section>

<script src='https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js'></script>
<script id="rendered-js" type="module">
    import Letterize from "https://cdn.skypack.dev/letterizejs@2.0.0";
    const wavewiggle = new Letterize({
        targets: ".c-playground__wiggle"
    });

    const animation = anime.timeline({
      targets: wavewiggle.listAll,
      delay: anime.stagger(250, {
        grid: [wavewiggle.list[0].length, wavewiggle.list.length],
        from: "center"
      }),
      loop: true
    });
    
    animation.
        add({
            scale: .5}).
        add({
            scale: 1.25}).
        add({
            scale: 1});
</script>
{% include "footer.html" %}