{% include "header.html" %}

<!-- Plaaaaaaaytime -->
<section>
    <header>
        <div class="c-playground">
            <div class="c-playground-col">
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
                <div class="c-playground__wiggle">xoxoxoxoxoxoxoxoxoxo</div>
                <div class="c-playground__wiggle">oxoxoxoxoxoxoxoxoxox</div>
            </div>
        </div>
    </header>
</section>

<script src='https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js'></script>
<script id="rendered-js" type="module">
    import Letterize from "https://cdn.skypack.dev/letterizejs@2.0.0";
    const wavewiggle = new Letterize({
        targets: ".c-playground__wiggle"
    });

    const animation = anime.timeline({
      targets: wavewiggle.listAll,
      delay: anime.stagger(100, {
        grid: [wavewiggle.list[0].length, wavewiggle.list.length],
        from: "center"
      }),
      loop: true
    });
    
    animation
        .add({
            scale: 0.5})
        .add({
            letterSpacing: "10px"})
        .add({
            scale: 1})
        .add({
            letterSpacing: "7px"});
</script>
{% include "footer.html" %}