{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {% include "header.html" %}
{% endblock %}

{% block content %}

    <!-- Page Header -->
    <section>
        <header class="c-wip__header" style="background-image: url('{{post.img_url}}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-heading">
                            <h1 class="c-wip__title">{{post.title}}</h1>
                            <p class="c-wip__sub">{{post.subtitle}}</p>
                            <span class="meta">Posted by {{post.author.name}} on {{post.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <!-- Post Content -->
    <section>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {{ post.body|safe }}
                        <hr>
                        {% if current_user.id == 1 %}
                        <div class="clearfix">
                            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit
                                Post</a>
                        </div>
                        {% endif %}

                        <!-- Comments Area -->

                        {{ ckeditor.load() }}
                        {{ ckeditor.config(name='comment_text') }}
                        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

                        <div class="col-lg-8 col-md-10 mx-auto comment">
                            {% for comment in post.comments: %}
                            <ul class="commentList">
                                <li>
                                    <div class="commenterImage">
                                        <img src="{{ comment.comment_author.email | gravatar }}"/>
                                    </div>
                                    <div class="commentorInfo">
                                        <span class="meta">{{comment.comment_author.name}}</span><br>
                                        <span>{{comment.date}}</span></div>
                                    <div class="commentText">
                                        {{comment.text|safe}}
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <hr>
    {% include "footer.html" %}
{% endblock %}