{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <section>
    <header class="c-wip__header bg" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 class="c-wip__title">Register</h1>
              <p class="c-wip__sub">Start Contributing to the Blog!</p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
      </div>
    </div>
  </section>
  {% include "footer.html" %}
{% endblock %}